In [1]:
import pandas as pd
import csv

# File path to your CSV
input_file = "/home/jordinia/Projects/ML-Malicious-Web-Scraper/domains_and_content.csv"

# Step 1: Read the CSV file with proper handling for multiline text in quotes
df = pd.read_csv(input_file, quoting=csv.QUOTE_ALL)

# Step 2: Check the dataframe to ensure it's loaded correctly
df.describe()

                     Domain                                            Content
count                 25549                                              25549
unique                23135                                              24886
top     https://bizidex.com  One moment, please...\nPlease wait while your ...
freq                     16                                                538

In [5]:
# Search for the word "gacor" in the "Content" column (case insensitive)
gacor_rows = df[df['Content'].str.contains("judol", case=False, na=False)]

# Print the rows where "gacor" is found
print(gacor_rows)

                         Domain  \
9521    https://judolbet88.live
12472   https://pernusanews.com
19537     https://www.gelora.co
22808  https://www.puskapik.com

                                                 Content
9521   Judolbet88 Situs Info Login Game Gacor Livecha...
12472  Kasum TNI Pimpin Acara Penyerahan Kendaraan Di...
19537  Banyak Video Testimoni Positif di Tengah Kerja...
22808  Tak Temui Deputi II KSP, Begini Klarifikasi Bu...

In [4]:
# Save the filtered rows to a new CSV file
output_file = "/home/jordinia/Projects/ML-Malicious-Web-Scraper/casino.csv"
gacor_rows.to_csv(output_file, index=False)

In [1]:
import pandas as pd
import csv

# File path to your CSV
input_file = "/home/jordinia/Projects/ML-Malicious-Web-Scraper/gamblinggacor.csv"

# Step 1: Read the CSV file with proper handling for multiline text in quotes
df = pd.read_csv(input_file, quoting=csv.QUOTE_ALL)

# Step 2: Check the dataframe to ensure it's loaded correctly
df.describe()

,Domain,Content
count,84,84
unique,77,84
top,https://woocommerce.staging-pop.com,visit this web-site Archives - amoxilbest.us.c...
freq,3,1

In [32]:
print(df.iloc[59])

Domain                                      http://aa.oma.be
Content    MESS / Mass loss from Evolved Stars | Astronom...
Name: 59, dtype: object

In [ ]:
print(df.iloc[16161])

In [ ]:
import pandas as pd

# Path to the input CSV file with domains
input_csv = '/mnt/f/SKRIPSI/Data/Processed/domains_and_content_processed.csv'

# Path to the output CSV file for processed domains
output_csv = '/mnt/f/SKRIPSI/Data/Processed/domains_processed.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(input_csv)

In [ ]:
df.head()

In [ ]:
print(f"The number of rows in df is: {len(df)}")

In [ ]:
# Find duplicates in the DataFrame based on the 'Domain' column
duplicates = df[df.duplicated(subset=['Domain'])]

# Count the number of duplicate rows
num_duplicates = len(duplicates)

# Print the number of duplicates
print(f"The number of duplicate rows in df is: {num_duplicates}")

In [ ]:
# Drop duplicates based on the 'Domain' column
df_processed = df.drop_duplicates(subset=['Domain'])

# Count the number of rows in the processed DataFrame
row_count = len(df_processed)

# Print the row count
print(f"The CSV file contains {row_count} unique domains.")

# Save the processed DataFrame to a new CSV file
df_processed.to_csv(output_csv, index=False)

print(f"Processed domains saved to {output_csv}")